.myParagraph{
font-size: 16px;
font-family: europa, sans-serif;
}
.myHeading{
font-weight: 500;
font-size: 30px;
font-family: europa, sans-serif;
}

#menu_teste_google{
    border:1px solid yellow;
}

.mylinks{
  text-decoration: none;
  color: #4a6df6;
}

.right_alignment{
  float: right;
}
.margin_right1{
    margin:1%;
}
.font_bold{
    font-weight:bold;
}
.notebook_width{
    max-width:98%;
}
.no_wrap{
white-space: nowrap;
}
.width50{
width: 50%;
}

.historymargin{
margin-top:9px;
}
.empty_div_setting{
position: relative;
width: 50%;
height: 50%;
z-index: 15;
top: 90%;
margin:auto;
}




