div.bank_placeholder {
    background-image: url("/payment_ebizcharge/static/src/img/bank.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 20px;
    -webkit-transition: 0.4s cubic-bezier(0.455,0.03,0.515,0.955);
    transition: 0.4s cubic-bezier(0.455,0.03,0.515,0.955);
    pointer-events: none;
}

.o_image_transaction{
    width: 40px;
    height: 22px;
}

